<h1>Editing Writing</h1>

<%= render 'form', writing: @writing %>

<%= link_to 'Show', @writing %>&nbsp &nbsp |
<%= link_to 'Back', writings_path %>&nbsp &nbsp|
<%= link_to 'New Writing', new_writing_path %>&nbsp &nbsp|
<%= link_to 'All Texts', text_text_path %>&nbsp &nbsp|
